<!DOCTYPE html>
<html>
<head>
	<title>Login/Registration</title>
</head>
<body>
	<div class="container">
	<h1>Welcome!</h1>
		<div class="formBox">
			<h3>Register</h3>
			<form action="/users" method="post">
			<input name="authenticity_token" type="hidden" value="token_value"/>
				
				<div class="form-group">
					<label>Name</label>
					<input type="text" name="user[name]">
				</div>
				<div class="form-group">
					<label>Email</label>
					<input type="text" name="user[email]">
				</div>
				<div class="form-group">
					<label>Password</label>
					<input type="password" name="user[password]">
				</div>
				<div class="form-group">
					<label>Confirm Password</label>
					<input type="password" name="user[password_confirmation]">	
				</div>	
				<div class="form-group">
					<label>Description</label>
					<textarea name="user[description]"></textarea>
				</div>
				<input type="submit" value="Register">
			</form>
		</div>
		<div class="formBox">
			<h3>Login</h3>
			<form action="/session" method="post">
			<input name="authenticity_token" type="hidden" value="token_value"/>
				<div class="form-group">
					<label>Email</label>
					<input type="text" name="user[email]">
				</div>
				<div class="form-group">
					<label>Password</label>
					<input type="password" name="user[password]">
				</div>
				<input type="submit" value="Login">
			</form>
		</div>
	</div>
</body>
</html>